# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# APK / AAB
*.apk
*.aab

# Native build
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Kotlin
.kotlin/
